<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
        <th><button (click)="addColumn()">Add Column</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows; let rowIndex = index">
        <td
          *ngFor="let cell of row.cells; let colIndex = index"
          [attr.rowspan]="cell.rowspan"
          [attr.colspan]="cell.colspan"
          [class.selected]="cell.selected"
          [class.selected]="isCellSelected(rowIndex, colIndex)"
          (mousedown)="startSelection(rowIndex, colIndex)"
          (mouseenter)="extendSelection(rowIndex, colIndex)"
          (mouseup)="endSelection()"
          [hidden]="cell.hidden"
          contenteditable="true"
          (input)="updateCellContent($event, row, colIndex)"
        >
          {{ cell.content }}
        </td>
        <td>
          <button (click)="removeRow(row)">Remove Row</button>
        </td>
      </tr>
      <tr>
        <td [attr.colspan]="columns.length">
          <button (click)="addRow()">Add Row</button>
          <button (click)="mergeSelectedCells()">Merge Selected</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
