<div style="width: 100%; display: flex; justify-content: center">
  <div>
    <table style="width: 500px" (mouseleave)="onmouseleave()">
      <thead style="user-select: none">
        <th></th>
        <th *ngFor="let col of getColumnHeaders()">{{ col }}</th>
      </thead>
      <tr *ngFor="let row of tableData; let rowIndex = index">
        <th style="user-select: none">{{ rowIndex + 1 }}</th>
        <ng-container *ngFor="let field of row; let colIndex = index">
          <td
            *ngIf="field.visibility"
            [attr.rowspan]="getSpan(field).row"
            [attr.colspan]="getSpan(field).col"
            [class.selected]="isCellSelected(rowIndex, colIndex)"
            (mousedown)="startSelecting(rowIndex, colIndex)"
            (mouseup)="endSelecting(rowIndex, colIndex)"
            (mouseover)="updateSelection(rowIndex, colIndex)"
          >
            <!-- contenteditable="true"
          (input)="updateCellContent($event, row, colIndex)" -->
            <span style="user-select: none"
              >{{ field.cell?.name || "empty" }} - {{ field.cellIndex }}</span
            >
          </td>
        </ng-container>
      </tr>
    </table>

    <div style="margin-top: 10px">
      <button style="user-select: none" (click)="mergeCells()">Merge</button>
      <button style="user-select: none" (click)="undoMergeCells()">
        un-Merge
      </button>
      <button style="user-select: none" (click)="generateTable()">Reset</button>
    </div>
  </div>
</div>
<strong>selectedRange: {{ selectedRange | json }}</strong>
<div></div>

<div style="display: flex; justify-content: space-between"></div>
