<div style="width: 100%; display: flex; justify-content: center">
  <div>
    <table style="width: 500px" onmouseleave="onmouseleave()">
      <tr *ngFor="let row of tableData; let rowIndex = index">
        <ng-container *ngFor="let field of row; let colIndex = index">
          <td
            *ngIf="field.visibility"
            [attr.rowspan]="getSpan(field).row"
            [attr.colspan]="getSpan(field).col"
            [class.selected]="isCellSelected(rowIndex, colIndex)"
            (mousedown)="startSelecting(rowIndex, colIndex)"
            (mouseup)="endSelecting(rowIndex, colIndex)"
            (mouseover)="updateSelection(rowIndex, colIndex)"
          >
            <!-- <p>{{ rowIndex }}, {{ colIndex }}</p> (click)="handleCellClick(field)" -->
            <span style="user-select: none">{{
              field.cell?.name || "empty"
            }}</span>
          </td>
        </ng-container>
      </tr>
    </table>

    <div style="margin-top: 10px">
      <button style="user-select: none" (click)="mergeCells()">Merge</button>
      <button style="user-select: none" (click)="undoMergeCells()">
        un-Merge
      </button>
      <button style="user-select: none" (click)="generateTable()">Reset</button>
    </div>
  </div>
</div>
<strong>selectedRange: {{ selectedRange | json }}</strong>
<div>
  <!-- <span>{{ rowSpan_tablec_spec_colSpan }}</span>
  <span>startRange: {{ startRange | json }}</span>


  <span>isSelected: {{ isSelected | json }}</span> -->
  <span>updateRangetest: {{ updateRange | json }}</span>
  <strong>{{ mouseDown }} {{ kesini }}</strong>
</div>
<!-- <pre>{{ position | json }}</pre> -->
<pre>endRange: {{ updateRangetest | json }}</pre>
<div style="display: flex; justify-content: space-between">
  <div>
    <pre>toMerge: {{ toMerge | json }}</pre>
  </div>
  <div>
    <pre>testTable : {{ this.tableData | json }}</pre>
  </div>
</div>

<!-- <pre>selectedTable {{ selectedTable | json }}</pre> -->
